body {
  background-color: grey;
  font-family: "Special Elite", cursive, serif;
}

header {
  text-align: center;
  color:rgba(255, 255, 255, 0.85);
  background-image:linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
    ),
    url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
}

h1 {
  padding: 4em;
  letter-spacing: 0.2em;
}

h2 {
  position:relative;
  text-align: center;
}

main {
  color: rgb(102,102,102);
  background-color: rgba(221, 221, 221, 0.95);
  padding-left: 0.5em;
  padding-bottom: 1em;
  position:relative;
  font-size: 1.3em;
}

ul {
  list-style-type: none;
  margin-left: -3em;
}

.container {
  background-color: white;
  margin-top: 2em;
  background-image: url("../img/rustic.jpg");
  background-position: center;
  background-size: cover;
}

.col-md-7 {

}


.side-bar {
  background-color: white;
  border: 1px solid black;
  border-radius:10px;
  width:65%;
  margin-top: 20%;
  margin-left: 5%;
  text-align: center;
  padding-bottom: 1em;
}

.side-form-details {
  display: none;
}

.details {
  color:#3165b7;
}

.details:hover {
  text-decoration: underline;
  cursor:pointer;
}

.remove {
  color:red;
  font-size:0.8em;
}

.remove:hover {
  text-decoration: underline;
  cursor:pointer;
}

.details {
  font-size: 1.5em;
}

#addToCart {
  margin-top: 0.6em;
}

.purchase {
  display: none;
}
